.form-group {
    width: 900px;
    margin-left: 20px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 1%;
    top: 53px;
    transform: translateY(-50%);

    cursor: pointer;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}



#sidebarTo {
    display: none;
}

#alertsDropdown {
    display: none;
}

.card {
    width: 1000px;
    margin-left: 120px;
    margin-top: -20px;
}

.password-error {
    color: red;
    font-size: 16px;
    padding: 10px;
}

@media (min-width: 200px) and (max-width: 400px) {


    .card {
        position: relative;
        width: 70vw;
        left: -40vw;

    }

    .password-error {
        font-size: 5px;
        padding: 8px;
    }

    #sidebarTo {
        position: relative;
        display: block;
        left: 47vw;
        top: -2vw;
    }

    .input,
    .border-select {
        width: 50vw;
    }

    .toggle-password {
        position: relative;
        left: 40vw;
        top: -17px;
    }
}

@media(min-width: 401px) and (max-width: 776px) {


    .card {

        width: 80vw;
        left: -30vw;
        top: 5vw;
    }

    .toggle-password {
        left: 220px;
    }

    #sidebarTo {
        position: relative;
        display: block;
        left: 55vw;
        top: -2vw;
    }

    .input,
    .border-select {
        width: 60vw;
    }

    .password-error {
        font-size: 11px;
        padding: 9px;
    }
}

@media(min-width: 776px)

/*and (max-width: 1949px)*/
    {

    .card {

        width: 70vw;
        left: -5vw;

        top: 3vw;
    }

    .toggle-password {
        left: 57vw;
    }



    .input,
    .border-select {
        width: 60vw;
    }
}

@media(min-width: 1950px) {
    .card {
        left: 90px;
        top: 7vw;
    }


}