.form-group {
    margin-left: 25px;
}

.form-group label {
    color: dimgray;
}

.form-group input {
    width: 430px;
}

.form-group select {
    width: 430px;
}

.machine-row td:first-child {
    width: 1px;
}