#sidebarTo {
    display: none;
}

th,
td {
    white-space: nowrap;
}

@media only screen and (max-width: 767px) {
    #sidebarTo {
        position: relative;
        display: block;
        left: 55vw;
        top: -2vw;
    }

    div.dataTables_wrapper div.dataTables_filter {
        position: relative;
        margin-left: 50vw;
        width: 50vw;
        top: -15vw;


    }
}