#sidebarTo {
    display: none;
}

#statsCard {
    max-width: 1000px;
    margin: 20px auto;


}

#myChart {
    width: 800px;
    height: 400px
}

th,
td {
    white-space: nowrap;
    color: dimgray;

}

@media (min-width: 200px) and (max-width: 400px) {


    #sidebarTo {
        position: relative;
        display: block;
        left: 40vw;
        top: -2vw;
    }

    div.dataTables_wrapper div.dataTables_filter {
        position: relative;
        left: -70vw;
        width: 50vw;
        top: -23vw;

    }

    #statsCard {
        width: 98%;
        margin: 20px auto;

    }

    #statsCard canvas {
        width: 150%;
        height: 150%;
        overflow-x: scroll;
        overflow-y: scroll;
    }


}

@media only screen and (min-width: 401px) and (max-width: 776px) {

    #statsCard {
        width: 90%;
        margin: 20px auto;

    }

    #statsCard canvas {
        width: 150%;
        height: 150%;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    #sidebarTo {
        position: relative;
        display: block;
        left: 55vw;
        top: -2vw;
    }

    div.dataTables_wrapper div.dataTables_filter {

        margin-left: 50vw;
        width: 50vw;


    }
}

@media (min-width: 2000px) {
    #statsCard {
        width: 1500vw;
        left: -2vw;


    }

}