.dataTables_length {
    max-width: 150px;

}

.dataTables_length select {
    width: auto;

}

div.dataTables_wrapper div.dataTables_filter {
    /* text-align: right; */
    margin-left: 400px;
}

th {
    color: dimgray;
    white-space: nowrap;
}

td {
    /* width: 20px; */
    white-space: nowrap;
    font-size: 17px;
    color: dimgray;
    font-style: normal;
}

#sidebarTo {
    display: none;
}

@media (min-width: 200px) and (max-width: 400px) {


    #sidebarTo {
        position: relative;
        display: block;
        left: 40vw;
        top: -2vw;
    }

    div.dataTables_wrapper div.dataTables_filter {
        position: relative;
        left: -70vw;
        width: 50vw;
        top: -23vw;

    }



}

@media only screen and (min-width: 401px) and (max-width: 776px) {
    #sidebarTo {
        position: relative;
        display: block;
        left: 55vw;
        top: -2vw;
    }

    div.dataTables_wrapper div.dataTables_filter {
        position: relative;
        margin-left: 50vw;
        width: 50vw;
        top: -15vw;

    }

    #statsCard {
        width: 98%;
        margin: 20px auto;

    }

    #statsCard canvas {
        width: 150%;
        height: 150%;
        overflow-x: scroll;
        overflow-y: scroll;
    }


}

@media (min-width: 2000px) {
    #statsCard {
        width: 1500vw;
        left: -2vw;


    }
}